{% extends 'layouts/default.twig' %}

{% block content %}
<body class="body-space">
    <section class="container-space">
        <!-- Div for the logo -->
        <div class="logo">
            <img src="{{ asset('img/logo_sky.png') }}" alt="Logo of the website">
        </div>
        <!-- Div for the searchbox -->
        <section class="search-constellation">
                <input class="search" type="search" name="constellation" placeholder="Search a constellation">
        </section>
        <!-- Section which contains the city choose by the user and the current date -->
        <section class="user-informations">
            <form class="form-city" action="" method="post">
                <input type="text" name="city" placeholder="Enter your city">
            </form>
            <div class="city-informations">
                <span class="date_day">{{ date(date) }}</span>
                <span class="hour_date">{{ hour(date) }}</span>
                <span class="city">{{ city }}</span>
                {% if sunrise != '' %}
                <span class="infos">Sunrise: </span><span class="sunrise">{{ sunrise }}</span>
                {% endif %}
                {% if sunset != '' %}
                <span class="infos">Sunset: </span><span class="sunset">{{ sunset }}</span>
                {% endif %}
                <span class="weather">{{ meteo }}</span>
            </div>
        </section>
        <div class="container-zoom">
            <div class="zoom-in">+</div>
            <input class="zoom" type="range" min="10" max="60" step="0.1" />
            <div class="zoom-out">-</div>
        </div>
        <!-- Section which contains the skymap -->
        <section id="container-skymap"></section>
        <!-- Section which contains the slider -->
        <section class="container-slider">
            <div class="slider">
                <!-- Progress bar of the slider -->
                <div class="slider-progress-bar"></div>
                <!-- Arrow of the slider -->
                <div class="arrow left-arrow"></div>
                <div class="arrow right-arrow"></div>
                <!-- Div which show a part of the slides -->
                <div class="box-slides">
                <!-- Container for all the slides -->
                    <div data-offset="0" class="container-slides">
                        <!-- Slide which contains the name and the button to access constellation's informations -->
                        {% for constellation in constellations %}
                        <div class="slide">
                            <span class="name-constellation">{{ constellation.name }}</span>
                            <button id="{{ constellation.id }}" onclick="constellation(id={{ constellation.id }})" data-x="{{ constellation.ra }}" data-y="{{ constellation.declinaison }}" data-id="{{ constellation.id - 1 }}" class="button-constellation"></button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Slider's underline -->
                <div class="slider-underline"></div>
            </div>
        </section>
        <!-- Section which contains the slidebar with the constellation's informations -->
        <section class="container-informations">
            <div class="informations">

                <div class="cross"></div>
                <div class="title-constellation">

                </div>
                <div class="informations-navigation">
                    <div class="navigation-bar progress-bar"></div>
                    <div class="navigation-bar"></div>
                    <a href="#" data-index="0" class="navigation navigation-history navigation-active">
                        <img src="{{ asset('img/history.png') }}" alt="Visibility icon">
                    </a>
                    <a href="#" data-index="1" class="navigation navigation-environment">
                        <img src="{{ asset('img/environment.png') }}" alt="Visibility icon">
                    </a>
                    <a href="#" data-index="2" class="navigation navigation-visibility">
                        <img src="{{ asset('img/visibility.png') }}" alt="Visibility icon">
                    </a>
                </div>

                <div class="information-content">

                    <div class="content content-history content-active">

                    </div>

                    <div class="content content-environment">

                    </div>

                    <div class="content content-visibility">

                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}
