{% extends 'layouts/default.twig' %}

{% block content %}
    <body class="body-space">
    <section class="container-space">
        <!-- Div for the logo -->
        <div class="logo">

        </div>
        <!-- Section which contains the city choose by the user and the current date -->
        <section class="user-informations">
            <span class="city">{{ city }}</span>
            <span class="date">{{ date(date) }}</span>
        </section>
        <!-- Section which contains the skymap -->
        <section class="container-skymap">
            <div id="starmapper"></div>
        </section>
        <!-- Section which contains the slider -->
        <section class="container-slider">
            <div class="slider">
                <!-- Progress bar of the slider -->
                <div class="slider-progress-bar"></div>
                <!-- Arrow of the slider -->
                <div class="arrow left-arrow"></div>
                <div class="arrow right-arrow"></div>
                <!-- Div which show a part of the slides -->
                <div class="box-slides">
                    <!-- Container for all the slides -->
                    <div class="container-slides">
                        <!-- Slide which contains the name and the button to access constellation's informations -->
                        {% for constellation in constellations %}
                        <div class="slide">
                            <span class="name-constellation">{{ constellation.name }}</span>
                            <button id="{{ constellation.IAU }}" onclick="constellation(id={{ constellation.id }})" data-x="{{ constellation.ra }}" data-y="{{ constellation.declinaison }}" data-id="{{ constellation.id - 1 }}" class="button-constellation"></button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Slider's underline -->
                <div class="slider-underline"></div>
            </div>
        </section>
        <!-- Section which contains the slidebar with the constellation's informations -->
        <section class="container-informations">
            <div class="informations">
                <!-- Cross to close the slidebar -->
                <div class="cross"></div>
                <!-- Div which contains the constellation's title in English and the genitif -->
                <div class="title-constellation">
                    <h2 class="informations-name">Antlia</h2>
                    <h2 class="informations-genitif">Antliae</h2>
                </div>
                <!-- Div which contains the navbar to navigate between the different informations -->
                <div class="informations-navigation">
                    <!-- Progress bar -->
                    <div class="navigation-bar progress-bar"></div>
                    <div class="navigation-bar"></div>
                    <!-- Each button -->
                    <button class="navigation navigation-history navigation-active">H</button>
                    <button class="navigation navigation-environment">E</button>
                    <button class="navigation navigation-visibility">V</button>
                </div>
                <!-- Div which contains the content -->
                <div class="information-content">
                    <!-- The content for the history's part -->
                    <div class="content-history">
                        <!-- Constellation's history -->
                        <h2 class="history-title">History</h2>
                        <p class="history-text">Originally Antlia Pneumatica or La Machine Pneumatique,was established by Nicolas-Louis de Lacaille in the 18th century, though its name was later abbreviated by John Herschel. The constellation is faint and is located in the Southern Celestial Hemisphere, it's name means "pump" in Latin and it's form reminds of an air pump. It was one of the instruments that symbolised the years of enlightment.</p>
                        <!-- Constellation's family -->
                        <h3 class="family-title">Family</h3>
                        <p class="family-text">La Caille</p>
                        <!-- Constellation's origin -->
                        <h3 class="origin-title">Origin</h3>
                        <p class="origin-text">1763, Lacaille</p>
                        <!-- Constellation's meaning -->
                        <h3 class="meaning-title">Meaning</h3>
                        <p class="meaning-text">Air pump</p>
                    </div>
                    <!-- The content for the environment's part -->
                    <div class="content-environment">
                        <!-- Constellation's environment -->
                        <h2 class="environment-title">Environment</h2>
                        <!-- The brightest star in the constellation -->
                        <h3 class="brightest-star-title">The brightest star</h3>
                        <p class="brightest-star-text">Antliae</p>
                        <!-- All the constellations which bordering the choose constellation -->
                        <h3 class="bordering-title"></h3>
                        <ul class="bordering-list">
                            <li class="bordering-element">Hydra</li>
                            <li class="bordering-element">Pyxis</li>
                            <li class="bordering-element">Vela</li>
                            <li class="bordering-element">Centaurus</li>
                        </ul>
                    </div>
                    <!-- The content for the visibility's part -->
                    <div class="content-visibility">
                        <h2 class="visibility-title">Visibility</h2>
                        <p class="visibility-text">Between 45° North and 90° South</p>
                        <h3 class="optimal-title">Optimal visibility</h3>
                        <p class="optimal-text">5 april, 21 hour</p>
                        <h3 class="height-title">Constellation's height</h3>
                        <p class="height-text">239 deg^2</p>
                    </div>
                </div>
                <div class="informations-background">
                    <img src="#" alt="Background which illustrate the constellation">
                </div>
            </div>
        </section>
    </section>

{% endblock %}